
<div mat-dialog-content>
    <div class="modal-header">Добавление слова</div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Английский вариант</mat-label>
      <input matInput [value]="data.key" disabled>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Русский перевод</mat-label>
      <input matInput [(ngModel)]="data.translate">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" (click)="onNoClick()">Отмена</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Сохранить перевод</button>
  </div>
  
