<mat-toolbar color="primary">
  <img class="header-logo" src="../assets/snowflake.png"><span class="header1">Snow Translator</span>
  <span class="example-spacer"></span>
  <a href="mailto:swiderskaya.elena@gmail.com" matTooltip="Написать разработчику">
    <button mat-icon-button color="accent" class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>mail</mat-icon>
    </button></a>
  <button mat-icon-button color="accent" matTooltip="О приложении" (click)="showInfo()" class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>
<div class="description"><span>Закачивайте тексты на английском,</span> <span>переводите слова,</span> <span>пополняйте
    словарь</span></div>
<div class="center-icon"><mat-icon color="accent">expand_more</mat-icon></div>
<app-wrapper></app-wrapper>