mat-card {
    margin: 10px 5px;
    mat-tab {
        width: 30vw;
        .tab-icon {
            margin-right: 6px;
        }
    }
}
img.header-logo{
    height: 20px;
    width: auto;
    margin-right: 10px;
}
.example-spacer {
    flex: 1 1 auto;
}
.description {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
   width: 100%;
    font-weight: 450;
    span{
        margin: 10px 5px;
    }
    span:first-child{
        color: #7d0ebd;
    }
    span:nth-child(2){
        color: #0f7fcf;
    }
    span:last-child{
        color: rgb(3, 207, 207);
    }
}
.center-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
