<div class="info-wrapper">
    <div class="header">
        О приложении
    </div>
    <div class="content">
        <div class="header2">Загрузка текстов</div>
        <div class="chapter-content">
            Данный раздел предназначен для загрузки текстов на английском языке и работы с ними. <br>
            В левой части имеются поля для вставки текста и его наименования. При нажатии кнопки "Загрузить статью" он автоматически сохраняется и он доступен для просмотра во вкладке "Статьи".<br>
            После загрузки текст доступен для работы. Все слова, уже имеющиеся в словаре, обладают всплывающими подсказками с переводом. А новые слова отмечены красным цветом. 
            Их список также приведен ниже для ручного перевода. Каждое слово подлежит перевести, после чего следует подтвердить окончание работы нажатием кнопки "Сохранить в словарь".
            Если оставить слово без перевода, то оно не будет добавлено в словарь.<br>
            После сохранения слов форма снова доступна для загрузки следующего текста.
        </div>
        <div class="header2">Словарь</div>
        <div class="chapter-content">
           В словарь попадают слова со своим переводом после загрузки и обработки текста.
           <br>
           Можно начать работу с данным разделом, закачав <b>базовый словарь</b> нажатием соответствующей кнопки. Он содержит 75 общеупотребительных слов английского языка.<br>
           Вы также можете напрямую добавлять слова, используя соответствующую кнопку. Слова доступны для редактирования и удаления. Также работает поиск по словам (в английском варианте).
           <div class="warning">! Предупреждение</div>
           <b>Данное приложение работает в тестовом режиме и хранит данные в рамках одной сессии.</b> Опция сохранения словаря в базу данных находится в разработке.
           Для сохранения результата Вашей работы рекомендуется скачать словарь в файл нажатием соответствующей кнопки.
        </div>
        <div class="header2">Статьи</div>
        <div class="chapter-content">
            В данном разделе Вы найдете все загруженные тексты, с которыми Вы успешно провели переводческую работу. 
            Для примера в приложении по умолчанию представлено два текста.
        </div>
        <div class="header2">Контакты</div>
        <div class="chapter-content">
            Ваши замечания и предложения можно направлять на электронную почту swiderskaya.elena@gmail.com
        </div>
    </div>
</div>
<button mat-raised-button color="primary" (click)="close()">Закрыть</button>