<div class="search-container">
    <mat-form-field appearance="fill" [formGroup]="searchForm" color="accent">
        <mat-label>Поиск слова</mat-label>
        <input matInput formControlName="search">
    </mat-form-field>
    <div class="header-buttons">
        <button mat-raised-button color="primary" (click)="loadBaseDictionary()">Закачать базовый словарь</button>
        <button mat-raised-button color="primary" (click)="addWord()">Добавить слово</button>
        <button mat-raised-button color="primary" (click)="saveDictToFile()">Сохранить в файл</button>
        <button mat-raised-button color="primary" (click)="loadUserDictionary()">Загрузить файл</button>
    </div>
    <p class="amount-box">Всего добавлено слов: {{dictLen}}</p>

</div>
<div *ngIf="words" class="dict-container">
    <mat-card *ngFor="let word of words | searchWord: searchForm.value.search">
        <span><b>{{word.key }}</b> | {{word.translate}}</span>
        <div class="float-buttons">
           <mat-icon matTooltip="Редактировать перевод" matTooltipPosition="above" (click)="editWord(word)">edit</mat-icon>
        <mat-icon matTooltip="Удалить слово" matTooltipPosition="above" (click)="deleteWord(word.key)">remove_circle_outline</mat-icon>  
        </div>
       
    </mat-card>
</div>