<mat-card>
    <mat-tab-group animationDuration="0ms" color="accent" mat-stretch-tabs="false" mat-align-tabs="start"
        [(selectedIndex)]="selectedIndex">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon" color="accent">download</mat-icon>
                <span class="tab-title"> Загрузка текста</span>
            </ng-template>
            <ng-template matTabContent>
                <app-load></app-load>
            </ng-template>
        </mat-tab>
        <mat-tab label="Dictionary">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon" color="accent">translate</mat-icon>
                <span class="tab-title"> Словарь</span>
            </ng-template>
            <ng-template matTabContent>
                <app-dict></app-dict>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon" color="accent">storage</mat-icon>
                <span class="tab-title"> Статьи </span>
            </ng-template>
            <ng-template matTabContent>
                <app-texts></app-texts>
            </ng-template>
        </mat-tab><span>

        </span>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon" color="accent">photo_library</mat-icon>
                <span class="tab-title"> Карточки </span>
            </ng-template>
            <ng-template matTabContent>
                <app-cards></app-cards>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>